<%- include('../../partials/siteHeader', {pageTitle: "Products Page"}) %>
<h1>Edit Product</h1>
<form action="../updateForm" method="post">
    <input type="hidden" name="ProductID" value="<%= product.ProductID %>">
    <div>
        <label for="productName">Product Name</label>
        <input type="text" name="ProductName" id="productName" value="<%= product.ProductName %>" required>
    </div>
    <div>
        <label for="QuantityPerUnit">Quantity Per Unit</label>
        <input type="text" name="QuantityPerUnit" id="QuantityPerUnit" value="<%= product.QuantityPerUnit %>" required>
    </div>
    <div>
        <label for="UnitPrice">Unit Price</label>
        <input type="number" step="0.01" name="UnitPrice" id="UnitPrice" value="<%= product.UnitPrice %>" required>
    </div>
    <div>
        <label for="UnitsInStock">Units In Stock</label>
        <input type="number" name="UnitsInStock" id="UnitsInStock" value="<%= product.UnitsInStock %>" required>
    </div>
    <div>
        <label for="UnitsOnOrder">Units On Order</label>
        <input type="number" name="UnitsOnOrder" id="UnitsOnOrder" value="<%= product.UnitsOnOrder %>" required>
    </div>
    <div>
        <label for="ReorderLevel">Reorder Level</label>
        <input type="number" name="ReorderLevel" id="ReorderLevel" value="<%= product.ReorderLevel %>" required>
    </div>
    <div>
        <label for="Discontinued">Discontinued</label>
        <input type="checkbox" name="Discontinued" id="Discontinued" <%= product.Discontinued ? 'checked' : '' %>>
    </div>
    <button type="submit">Update Product</button>
</form>
<%- include('../../partials/siteFooter') %>